html {
    font-family: Poppins;
    background-color: #e3dac9;
}

.center {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32px;
    margin: 12px;
    margin-bottom: 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurant-list {
    font-size: 28px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    background-color: #ede6d6;
    padding: 2rem 4rem;
    border-radius: 1rem;
    border: solid 1px;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-input {
    border: 2px solid black;
    border-radius: 8px;
    height: 32px;
    width: 300px;
}

.submit-button {
    height: 3rem;
    width: 9rem;
    font-size: 16px;
    border-radius: 8px;
    justify-self: center;
    margin-bottom: 12px;
    border: none;
    background-color: #87A96B;
    color: black;
}

.delete-all-button {
    height: 3rem;
    width: 10rem;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    justify-self: center;
    margin-bottom: 12px;
    background-color: #C60C30;
}

.submit-button:hover {
    transition: linear 100ms;
    cursor: pointer;
}

.delete-all-button:hover {
    transition: linear 100ms;
    cursor: pointer;
}

.submit-button:active{
    transition: none 0ms;
    background-color: rgb(187, 187, 187);
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
